<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.RoomID}}" placeholder="Room ID"
            name="RoomID">
        <label for="floatingInput">Room ID</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.PaymentID}}" placeholder="Payment ID"
            name="PaymentID">
        <label for="floatingInput">Payment ID</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input class="form-control" id="floatingInput" value="{{this.StartDate}}" placeholder="Start Date"
            name="StartDate">
        <label for="floatingInput">Start Date</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.EndDate}}" placeholder="EndDate"
            name="EndDate">
        <label for="floatingInput">End Date</label>
    </div>
</div>
{{!-- <div class="col-12">
    <div class="form-floating mb-3">
        <textarea class="form-control" placeholder="Leave a comment here" id="comments" name="comments"
            style="height: 200px">{{this.comments}}</textarea>
        <label for="comments">Comments</label>
    </div>
</div> --}}
<div class="col-12 d-grid">
    <button class="btn btn-primary" type="submit">Submit</button>
</div>