<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.StaffID}}" placeholder="Staff ID"
            name="StaffID">
        <label for="floatingInput">Staff ID</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.Name}}" placeholder="Name" name="Name">
        <label for="floatingInput">Name</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input class="form-control" id="floatingInput" value="{{this.Phone}}" placeholder="Phone" name="Phone">
        <label for="floatingInput">Phone</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.Position}}" placeholder="Position"
            name="Position">
        <label for="floatingInput">Position</label>
    </div>
</div>
{{!-- <div class="col-12">
    <div class="form-floating mb-3">
        <textarea class="form-control" placeholder="Leave a comment here" id="comments" name="comments"
            style="height: 200px">{{this.comments}}</textarea>
        <label for="comments">Comments</label>
    </div>
</div> --}}
<div class="col-12 d-grid">
    <button class="btn btn-primary" type="submit">Submit</button>
</div>