<div class="col-6">
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput" value="{{this.Name}}" placeholder="Name" name="Name">
    <label for="floatingInput">Name</label>
  </div>
</div>
<div class="col-6">
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput" value="{{this.Contact}}" placeholder="Contact"
      name="Contact">
    <label for="floatingInput">Contact</label>
  </div>
</div>
<div class="col-6">
  <div class="form-floating mb-3">
    <input class="form-control" id="floatingInput" value="{{this.PaymentInformation}}" placeholder="PaymentInformation"
      name="PaymentInformation">
    <label for="floatingInput">Payment Information</label>
  </div>
</div>
<div class="col-6">
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput" value="{{this.BookingHistory}}"
      placeholder="BookingHistory" name="BookingHistory">
    <label for="floatingInput">Booking History</label>
  </div>
</div>
{{!-- <div class="col-12">
  <div class="form-floating mb-3">
    <textarea class="form-control" placeholder="Leave a comment here" id="comments" name="comments"
      style="height: 200px">{{this.comments}}</textarea>
    <label for="comments">Comments</label>
  </div>
</div> --}}
<div class="col-12 d-grid">
  <button class="btn btn-primary" type="submit">Submit</button>
</div>